 .container {
    max-width: 700px;
    /* margin: 0 auto; */
    flex: auto !important;
    justify-content: space-between !important;
    padding: 20px;
    border: solid 0.5px rgb(149, 146, 146) !important;
  }
  
  /*label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type='text'],
  input[type='date'],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  @media (max-width: 600px) {
    .form {
      padding: 10px;
    }
  }
  */
  @media (max-width: 400px) {
    input[type='text'],
    input[type='date'],
    select {
      font-size: 14px;
    }
  }
  .form-group{
    border: dashed 1px grey;
  }
.btn-primary{
  /* width: 120px !important; */
  padding-right: 40px !important;
  padding-left: 40px !important;
}
.btn-secondary{
  width: 120px !important;
  padding-right: 35px !important;
  padding-left: 35px !important;
}